ai_agent_1_newest-.json
{
  "createdAt": "2025-06-21T09:47:52.690Z",
  "updatedAt": "2025-06-21T09:53:50.010Z",
  "id": "2r00jn4jEvkRq3nJ",
  "name": "ai_agent_1_newest",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update_stock",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        -240
      ],
      "id": "8d2be5a3-b337-437b-8129-14b6987128ab",
      "name": "Webhook",
      "webhookId": "a90e3eaa-296f-48ff-9f22-67076d7720f8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ac95553-fa08-4b00-bf6f-6fef52bccde7",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -240
      ],
      "id": "b6d7ec1e-533d-4455-a90d-3d5cb4885c44",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const salesData = $input.first().json.body;\n\n// 1. Validate the incoming data\nif (!Array.isArray(salesData) || salesData.length === 0) {\n  // If there's no valid data, stop the workflow by returning an empty array.\n  return [];\n}\n\n// 2. Transform the sales data into a SQL VALUES list.\n// This creates a string like: \"(123, 5), (456, 2), (789, 10)\"\n// We also ensure the data types are correct (integers).\nconst valuesList = salesData\n  .map(sale => {\n    const productIndex = parseInt(sale.index, 10);\n    const quantitySold = parseInt(sale.quantity_sold, 10);\n\n    // Basic validation for each item\n    if (isNaN(productIndex) || isNaN(quantitySold)) {\n      return null;\n    }\n    return `(${productIndex}, ${quantitySold})`;\n  })\n  .filter(Boolean) // Remove any null entries from invalid sales items\n  .join(', ');\n\n// If after filtering there are no valid values, stop.\nif (!valuesList) {\n  return [];\n}\n\n\n// 3. Construct the final, powerful UPDATE query.\n// This query updates the 'amazon_dataset' table by subtracting the\n// 'quantity_sold' from the current 'stock' for all matching products in one go.\nconst updateQuery = `\nUPDATE public.amazon_dataset AS ad\nSET\n    stock = ad.stock - v.quantity_sold\nFROM (\n    VALUES ${valuesList}\n) AS v(product_index, quantity_sold)\nWHERE ad.index = v.product_index;\n`;\n\n// 4. Output the generated query for the next node to use.\nreturn [{ json: { query: updateQuery } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -240
      ],
      "id": "8f5c59d2-410f-435f-9e5b-4e95a5a3d423",
      "name": "Prepare Bulk Update Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        -240
      ],
      "id": "cd42991c-8324-42c2-97fe-4d6d03f766a1",
      "name": "Execute Bulk Update",
      "credentials": {
        "postgres": {
          "id": "khc9nZXORM0xAEhP",
          "name": "amazon_product"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"Process completed successfully\",\n  \"message\": \"Stok telah berhasil diperbarui.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        660,
        -240
      ],
      "id": "e4c23aaa-ae43-426b-a828-c99de9e0b753",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prepare Bulk Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Bulk Update Query": {
      "main": [
        [
          {
            "node": "Execute Bulk Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Bulk Update": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4b27bb23-fcc4-45cc-bf0a-c5e2a64513df",
  "triggerCount": 1,
  "tags": []
}