ai_agent_1_versi_new-.json
{
  "createdAt": "2025-06-21T08:23:34.139Z",
  "updatedAt": "2025-06-21T08:23:45.790Z",
  "id": "3aX0f1uOThdyORJ6",
  "name": "ai_agent_1_versi_new",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const salesData = $input.first().json.body;\nif (!Array.isArray(salesData)) {\n  return [{ json: { productIndexes: [], error: \"Sales data is not an array and cannot be processed.\"} }];\n}\nconst productIndexes = salesData.map(sale => sale.index).filter(index => index !== undefined && index !== null);\nif (productIndexes.length === 0 && salesData.length > 0) {\n  return [{ json: { productIndexes: [], error: \"No valid product indexes found in sales data.\"} }];\n}\nreturn [{ json: { productIndexes } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1260,
        200
      ],
      "id": "78a5921e-4e4e-4661-b720-42ec825ed8b7",
      "name": "Prepare Product1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.amazon_dataset\nWHERE index IN ({{ $json.productIndexes && $json.productIndexes.length > 0 ? $json.productIndexes.join(', ') : null }})\nORDER BY index ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        200
      ],
      "id": "329b6d4c-7935-45d7-9a1e-548f6cfec586",
      "name": "Get Product Data1"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil semua item output dari node \"Get Product Data\"\nconst productDataItems = $(\"Get Product Data1\").all();\n\n// Ekstrak objek .json dari setiap item dan simpan ke dalam array baru\n// Ini adalah daftar produk aktual dari database yang akan kita gunakan untuk pencocokan\nconst productsInDatabase = productDataItems.map(item => item.json);\nif (productsInDatabase.length > 0) {\n  console.log(\"Produk Pertama dari Database (setelah .map):\", JSON.stringify(productsInDatabase[0], null, 2));\n} else {\n  console.log(\"Tidak ada produk yang diambil dari database (productsInDatabase kosong setelah .map).\");\n}\n\n// Data penjualan dari webhook\nconst salesData = $('Webhook').first().json.body;\n\nlet outputItems = []; // Array untuk menampung semua item yang akan di-output oleh node ini\n\n// 1. Validasi Awal Data Penjualan (salesData)\nif (!Array.isArray(salesData)) {\n  outputItems.push({\n    json: {\n      type: \"critical_error\",\n      errorType: \"InvalidSalesDataFormat\",\n      message: \"Data penjualan yang diterima bukan array.\",\n      originalSalesData: salesData\n    }\n  });\n  return outputItems;\n}\n\nif (salesData.length === 0) {\n  return [];\n}\n\n// 2. Proses Setiap Item Penjualan\nsalesData.forEach(sale => {\n  // Pastikan setiap item penjualan (sale) memiliki 'index' produk\n  if (sale.index === undefined || sale.index === null) {\n    console.warn(`Item penjualan tidak memiliki 'index' yang valid: ${JSON.stringify(sale)}`);\n    outputItems.push({\n      json: {\n        type: \"product_error\",\n        error_details: \"Item penjualan tidak memiliki 'index' yang valid.\",\n        sale_item: sale\n      }\n    });\n    return; // Lanjut ke item penjualan berikutnya\n  }\n\n  // Konversi 'sale.index' dan 'product.index' ke tipe data yang konsisten (misalnya, String) untuk perbandingan\n  // Ini penting untuk menghindari masalah ketidakcocokan tipe (angka vs string)\n  const saleIndexToCompare = String(sale.index).trim(); // Hapus spasi berlebih jika ada\n\n  // Cari produk yang sesuai di 'productsInDatabase' (yang sudah berisi objek .json)\n  // Pastikan 'p.index' juga dikonversi ke String untuk perbandingan yang adil\n  const productInDb = productsInDatabase.find(p => {\n    if (p && (p.index !== undefined && p.index !== null)) {\n      const dbIndexToCompare = String(p.index).trim();\n      return dbIndexToCompare === saleIndexToCompare;\n    }\n    return false; // Jika p.index tidak valid, jangan cocokkan\n  });\n\n  if (productInDb) {\n    const quantitySold = Number(sale.quantity_sold);\n    const currentStock = Number(productInDb.stock);\n\n    if (isNaN(quantitySold)) {\n      console.warn(`Kuantitas terjual tidak valid untuk produk index \"${saleIndexToCompare}\": ${sale.quantity_sold}`);\n      outputItems.push({\n        json: {\n          type: \"data_error\",\n          product_name: productInDb.name || sale.name || null,\n          product_index: productInDb.index,\n          message: `Kuantitas terjual (quantity_sold) tidak valid: ${sale.quantity_sold}`\n        }\n      });\n      return; \n    }\n    if (isNaN(currentStock)) {\n      console.warn(`Stok saat ini tidak valid untuk produk index \"${saleIndexToCompare}\" di database.`);\n      outputItems.push({\n        json: {\n          type: \"data_error\",\n          product_name: productInDb.name || sale.name || null,\n          product_index: productInDb.index,\n          message: `Stok produk di database tidak valid (NaN). Nilai stok: ${productInDb.stock}`\n        }\n      });\n      return; \n    }\n\n    const newStock = currentStock - quantitySold;\n    outputItems.push({\n      json: {\n        index: productInDb.index,\n        stock: Math.max(0, newStock)\n      }\n    });\n  } else {\n    console.warn(`Produk dengan index \"${saleIndexToCompare}\" TIDAK DITEMUKAN di database.`);\n    outputItems.push({\n      json: {\n        type: \"product_not_found\",\n        product_name: sale.name || null,\n        product_index: sale.index, \n        quantity_sold: sale.quantity_sold,\n        message: `Produk dengan index \"${saleIndexToCompare}\" (Nama: \"${sale.name || 'Tidak ada nama'}\") tidak ditemukan di database.`\n      }\n    });\n  }\n});\n\nconsole.log(\"Output Akhir dari 'Process Sales & Identify Issues':\", JSON.stringify(outputItems, null, 2));\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        100
      ],
      "id": "21a728ac-e3d8-4524-9285-620e3a14125e",
      "name": "Process Sales & Identify Issues1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "407dceb4-4397-4dc7-a5cf-38fb20ed61c7",
              "leftValue": "={{ $json.stock }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        100
      ],
      "id": "8a3f2755-affa-4700-b522-80bd5421a2d8",
      "name": "Route Data1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"Process completed\",\n  \"message\": \"Proses telah selesai\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        60,
        100
      ],
      "id": "1f182ed5-e65e-4e74-ae53-b3c17f96057e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// 'items' adalah input ke node ini, yang berasal dari salah satu output node IF (\"Route Data\").\n// Setiap 'item' dalam 'items' adalah objek yang menandakan suatu masalah.\n\n// 1. Catat data yang diterima untuk debugging\nconsole.log(\"AI Agent (Placeholder) - Menerima data untuk ditangani:\");\nitems.forEach((item, index) => {\n  console.log(`Item[${index}]: ${JSON.stringify(item.json, null, 2)}`);\n});\n\n// 2. Proses setiap item masalah dan buat pesan notifikasi\n// Array untuk menampung hasil pemrosesan oleh AI placeholder ini\nlet processedAiItems = [];\n\nitems.forEach(item => {\n  let notificationMessage = \"Tidak ada tindakan spesifik yang diambil oleh AI placeholder untuk item ini.\";\n  let aiActionTaken = \"Logged\"; // Tindakan default\n\n  // Ambil data JSON dari item\n  const issueDetails = item.json;\n\n  // Buat pesan notifikasi berdasarkan jenis masalah ('type')\n  if (issueDetails.type === 'product_not_found') {\n    notificationMessage = `PERHATIAN: Produk tidak ditemukan di database. \n    Nama Produk (dari sales): \"${issueDetails.product_name || 'N/A'}\", \n    Index Produk (dari sales): \"${issueDetails.product_index}\", \n    Kuantitas Terjual: ${issueDetails.quantity_sold}. \n    Saran: Verifikasi data produk atau tambahkan produk baru jika perlu.`;\n    aiActionTaken = \"Logged product_not_found, generated notification suggestion\";\n\n  } else if (issueDetails.type === 'critical_error') {\n    notificationMessage = `ERROR KRITIS: ${issueDetails.message}. \n    Detail Data Asli: ${JSON.stringify(issueDetails.originalSalesData, null, 2)}. \n    Saran: Segera periksa sumber data penjualan atau format webhook.`;\n    aiActionTaken = \"Logged critical_error, generated notification suggestion\";\n\n  } else if (issueDetails.type === 'product_error') {\n    notificationMessage = `ERROR DATA PRODUK (Penjualan): ${issueDetails.error_details}. \n    Detail Item Penjualan: ${JSON.stringify(issueDetails.sale_item, null, 2)}. \n    Saran: Periksa item penjualan yang masuk, pastikan memiliki semua field yang diperlukan (misalnya, 'index').`;\n    aiActionTaken = \"Logged product_error, generated notification suggestion\";\n  \n  } else if (issueDetails.type === 'data_error') { // Menangani tipe error baru dari node sebelumnya\n    notificationMessage = `ERROR VALIDASI DATA: ${issueDetails.message}. \n    Index Produk: \"${issueDetails.product_index}\", \n    Nama Produk: \"${issueDetails.product_name || 'N/A'}\".\n    Saran: Periksa data terkait produk ini pada data penjualan atau database.`;\n    aiActionTaken = \"Logged data_error, generated notification suggestion\";\n\n  } else {\n    notificationMessage = `Jenis masalah tidak dikenal diterima: ${JSON.stringify(issueDetails)}.`;\n    aiActionTaken = \"Logged unknown issue type\";\n  }\n\n  // Untuk demonstrasi, kita akan membuat item baru yang berisi pesan notifikasi ini.\n  // Dalam skenario nyata, Anda mungkin akan mengirim ini ke sistem notifikasi (Email, Slack, dll.)\n  // atau melakukan pemanggilan API ke layanan AI.\n  processedAiItems.push({\n    json: {\n      original_issue: issueDetails, // Menyimpan detail masalah asli\n      ai_generated_notification: notificationMessage,\n      ai_action_placeholder: aiActionTaken,\n      status: \"processed_by_ai_placeholder\",\n      timestamp_ai_processed: new Date().toISOString()\n    }\n  });\n});\n\n// 3. Kembalikan item yang telah diproses oleh AI placeholder\n// Item-item ini bisa diteruskan ke node notifikasi atau node logging lainnya.\nreturn processedAiItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        200
      ],
      "id": "5771498a-4e2e-4476-8750-dced75560716",
      "name": "Process Sales and identify Issues"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "amazon_dataset",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "index": 0,
            "ratings": 0,
            "no_of_ratings": 0,
            "discount_price_idr": 0,
            "actual_price_idr": 0,
            "stock": 0
          },
          "matchingColumns": [
            "index"
          ],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "main_category",
              "displayName": "main_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sub_category",
              "displayName": "sub_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ratings",
              "displayName": "ratings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "no_of_ratings",
              "displayName": "no_of_ratings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_price_idr",
              "displayName": "discount_price_idr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_price_idr",
              "displayName": "actual_price_idr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock",
              "displayName": "stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        0
      ],
      "id": "2019e88d-ed5c-4db1-a7bf-9f95c19600a7",
      "name": "Update Produk Database1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c7f7ddb-148b-4dc9-b5d1-b49484c74961",
              "leftValue": "={{ $json.body.every(item => /^\\d+$/.test(item.index)) }}",
              "rightValue": "={{ $json.body }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "6614e1c9-637d-45f1-a345-845894c9517b",
              "leftValue": "={{ $json.body.some(item => !/^\\d{4}-\\d{2}-\\d{2}$/.test(item.date)) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "db86cc64-2543-42a4-9e76-accbc9eff09b",
              "leftValue": "={{ $json.body.every(item => item.hasOwnProperty('quantity_sold') && /^\\d+$/.test(item.quantity_sold)) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1700,
        300
      ],
      "id": "5f821423-f55d-4793-b3de-94d0a187947f",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"Error\": \"Terjadi Error, Cek Index, Date, dan Quantity sold. Pastikan Formattnya benar\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -1480,
        400
      ],
      "id": "6c9313b5-5edc-4ffe-ac9a-19c4ccb4459c",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ac95553-fa08-4b00-bf6f-6fef52bccde7",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1480,
        200
      ],
      "id": "3c1e08ea-a961-4f83-a165-9597e6d62f0c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update_stock",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1920,
        400
      ],
      "id": "fabfd79f-575f-4a23-8444-3784c1df9af6",
      "name": "Webhook",
      "webhookId": "a90e3eaa-296f-48ff-9f22-67076d7720f8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"Running\",\n  \"message\": \"Workflow sedang dimulai...\"\n}",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1700,
        500
      ],
      "id": "a551d0fa-2a64-4dae-b665-31d1a8d04775",
      "name": "Response Status"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"Error\": \"Nama Produk ada yang tidak sesuai\"\n  \"Index\": {{ $json.index }}\n  \"Nama\": {{ $json.name }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -600,
        300
      ],
      "id": "8d53c8cf-2509-48f9-8948-1b189f4dd2d6",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87bdcd8f-d673-4916-876d-fafcc6d611d1",
              "leftValue": "={{ $('Edit Fields').item.json.body[$itemIndex].index }}",
              "rightValue": "={{ $json.index.toString() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -820,
        200
      ],
      "id": "2947ee60-6c73-4b78-8c48-18c6142143eb",
      "name": "Cek apakah nama produk sama dengan database"
    }
  ],
  "connections": {
    "Prepare Product1": {
      "main": [
        [
          {
            "node": "Get Product Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Data1": {
      "main": [
        [
          {
            "node": "Cek apakah nama produk sama dengan database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sales & Identify Issues1": {
      "main": [
        [
          {
            "node": "Route Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Data1": {
      "main": [
        [
          {
            "node": "Update Produk Database1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Sales and identify Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sales and identify Issues": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Produk Database1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prepare Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek apakah nama produk sama dengan database": {
      "main": [
        [
          {
            "node": "Process Sales & Identify Issues1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dc9248c5-8d5e-4a23-8095-6ced2059ce0d",
  "triggerCount": 0,
  "tags": []
}