backup_credentials-.json
{
  "createdAt": "2025-06-21T08:24:23.295Z",
  "updatedAt": "2025-06-21T09:02:30.212Z",
  "id": "KC0CYZcNRb5ePPRn",
  "name": "backup_credentials",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "npx n8n export:credentials --all"
      },
      "id": "21bc6a3e-b9dc-4fb3-bc62-67f058b4c190",
      "name": "Execute Command Get All Cridentials",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -140,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "805352e5-eec2-4e7c-bfdd-2398f04b210d",
      "name": "JSON Formatting Data",
      "type": "n8n-nodes-base.code",
      "position": [
        60,
        20
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "05e5e77a-e8ad-4073-8799-f9f82c08bc2b",
      "name": "Aggregate Cridentials",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        260,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Export All Credentials From N8n",
        "height": 292,
        "width": 911
      },
      "id": "ec237e3d-90c6-47cc-ae16-868913e0569d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "0640d41b-eeb9-440c-a3ec-dfd17ae2c316",
      "name": "Convert To File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        460,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Google Drive Folder",
        "height": 292,
        "width": 311
      },
      "id": "ceefcac7-5e2f-4524-9260-985fdec4fedf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=n8n_backup_credentials_{{$now.format('yyyy-MM-dd_HH-mm')}}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xR3N1U_KQyV_bJBvtbSDex9x-cAyQvFl",
          "mode": "list",
          "cachedResultName": "N8N_Credentials",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xR3N1U_KQyV_bJBvtbSDex9x-cAyQvFl"
        },
        "options": {}
      },
      "id": "f8b7b174-ea5a-402f-979c-1887c9d0d9eb",
      "name": "Google Drive Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        880,
        20
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KF8r0iYP7vIynuLa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "path": "backup_credentials",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        20
      ],
      "id": "f098de97-4f79-4e7d-91b2-8891d9605a93",
      "name": "Webhook",
      "webhookId": "099538e3-f22b-423c-b681-c21924cff175",
      "credentials": {
        "httpBasicAuth": {
          "id": "bKK7skkatjiC47hE",
          "name": "webhook"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"Success\": \"Sudah Berhasil Backup Credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1160,
        20
      ],
      "id": "6819d768-9af5-4c79-a1ec-c92ed9ac1412",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Convert To File": {
      "main": [
        [
          {
            "node": "Google Drive Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Formatting Data": {
      "main": [
        [
          {
            "node": "Aggregate Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Cridentials": {
      "main": [
        [
          {
            "node": "Convert To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Get All Cridentials": {
      "main": [
        [
          {
            "node": "JSON Formatting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command Get All Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dc397133-e540-4012-ad23-8ac7eed16731",
  "triggerCount": 1,
  "tags": []
}