backup_credentials-.json
{
  "createdAt": "2025-06-18T08:33:26.186Z",
  "updatedAt": "2025-06-18T15:51:32.042Z",
  "id": "jOExSvILTcRoYwEI",
  "name": "backup_credentials",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "npx n8n export:credentials --all"
      },
      "id": "e15b6d5e-c808-4003-a3c4-a7a783c26f02",
      "name": "Execute Command Get All Cridentials",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        300,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "06c90743-d6b3-402d-a7c5-0cd594d2761f",
      "name": "JSON Formatting Data",
      "type": "n8n-nodes-base.code",
      "position": [
        500,
        380
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "556a2974-4164-4bc1-9999-1fd9b016516e",
      "name": "Aggregate Cridentials",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        700,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Export All Credentials From N8n",
        "height": 292,
        "width": 911
      },
      "id": "f264d63e-1b63-4b02-920f-99c4f4ce792c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "ede70732-1c0c-49d4-a5f0-0eb1cfc3f9a9",
      "name": "Convert To File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        900,
        380
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Google Drive Folder",
        "height": 292,
        "width": 311
      },
      "id": "8d13d3ba-7c68-4c99-b0b9-55a93f22795e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=n8n_backup_credentials_{{$now.format('yyyy-MM-dd_HH-mm')}}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xR3N1U_KQyV_bJBvtbSDex9x-cAyQvFl",
          "mode": "list",
          "cachedResultName": "N8N_Credentials",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xR3N1U_KQyV_bJBvtbSDex9x-cAyQvFl"
        },
        "options": {}
      },
      "id": "2526c16d-ed97-4386-831b-d86545e999df",
      "name": "Google Drive Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1320,
        380
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q1UgJ1PBdu8Hi15R",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "path": "backup_credentials",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        380
      ],
      "id": "70bb9f6a-db5f-43be-9380-6678211fa153",
      "name": "Webhook",
      "webhookId": "099538e3-f22b-423c-b681-c21924cff175",
      "credentials": {
        "httpBasicAuth": {
          "id": "9ZBwfsnSE9gON7tX",
          "name": "webhook-auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"Success\": \"Sudah Berhasil Backup Credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1600,
        380
      ],
      "id": "d3883e33-7c07-4a28-a2eb-981d4c6bb821",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Convert To File": {
      "main": [
        [
          {
            "node": "Google Drive Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Formatting Data": {
      "main": [
        [
          {
            "node": "Aggregate Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Cridentials": {
      "main": [
        [
          {
            "node": "Convert To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Get All Cridentials": {
      "main": [
        [
          {
            "node": "JSON Formatting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command Get All Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b964ec0a-fc35-4e44-91b5-42e4d1427172",
  "triggerCount": 1,
  "tags": []
}