backup-workflow-.json
{
  "createdAt": "2025-05-24T09:27:10.128Z",
  "updatedAt": "2025-05-24T10:28:37.574Z",
  "id": "Tx0aSjgCKwHtgn0i",
  "name": "backup workflow",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "backup-workflow",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8d43a4d6-ebc0-4d15-b67e-ce1158288c4d",
      "name": "Webhook",
      "webhookId": "614b0afa-5f77-46c5-87ad-143a843a70a0",
      "credentials": {
        "httpBasicAuth": {
          "id": "9ZBwfsnSE9gON7tX",
          "name": "webhook-auth"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "1e40f940-7945-492c-a00b-eb33b5f4f963",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1440,
        0
      ],
      "id": "ccead3c7-3df7-49c2-afac-3ea4cd4a9a62",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/HH:mm",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "b5104f15-03f4-42db-9c8e-d8ef1e7f3fbc",
      "name": "Format Date"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2b7bc693-bf18-4851-b1be-f2177ac29600",
  "triggerCount": 0,
  "tags": []
}