backup-credentials-.json
{
  "createdAt": "2025-06-28T07:12:41.324Z",
  "updatedAt": "2025-06-28T07:26:16.554Z",
  "id": "RsDTIaghM4pdIVLA",
  "name": "backup-credentials",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "npx n8n export:credentials --all"
      },
      "id": "39e309fc-ca0e-45d7-ad15-07fcf046fdc2",
      "name": "Execute Command Get All Cridentials",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        100,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "7fbc9caf-66a5-499a-b7a9-7773fa696573",
      "name": "JSON Formatting Data",
      "type": "n8n-nodes-base.code",
      "position": [
        300,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "64860427-f3b4-4494-9eff-6d2ba84ea550",
      "name": "Aggregate Cridentials",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        500,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Export All Credentials From N8n",
        "height": 292,
        "width": 911
      },
      "id": "339ea503-3706-466e-afc2-472e3821758a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "781bb576-3f11-41ee-b86b-7f50a567077f",
      "name": "Convert To File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        700,
        80
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Google Drive Folder",
        "height": 292,
        "width": 311
      },
      "id": "1700da95-f34d-45bd-8525-c423a243d81e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=n8n_backup_credentials_{{$now.format('yyyy-MM-dd_HH-mm')}}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xR3N1U_KQyV_bJBvtbSDex9x-cAyQvFl",
          "mode": "list",
          "cachedResultName": "N8N_Credentials",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xR3N1U_KQyV_bJBvtbSDex9x-cAyQvFl"
        },
        "options": {}
      },
      "id": "7e746c39-5434-468c-894a-625e888842e8",
      "name": "Google Drive Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1120,
        80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IzwRJBQkwu6iaN8o",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "path": "backup_credentials",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        80
      ],
      "id": "2a85b19b-7d0f-4142-be2b-45fbdb2b7181",
      "name": "Webhook",
      "webhookId": "099538e3-f22b-423c-b681-c21924cff175",
      "credentials": {
        "httpBasicAuth": {
          "id": "jmK1l5fQNA45qaU2",
          "name": "simple"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"Success\": \"Sudah Berhasil Backup Credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1400,
        80
      ],
      "id": "e1dbbf52-d5ae-45e2-b3c9-4730cc424661",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Convert To File": {
      "main": [
        [
          {
            "node": "Google Drive Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Formatting Data": {
      "main": [
        [
          {
            "node": "Aggregate Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Cridentials": {
      "main": [
        [
          {
            "node": "Convert To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Get All Cridentials": {
      "main": [
        [
          {
            "node": "JSON Formatting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command Get All Cridentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4fa7cf23-fa60-46ea-97e8-909d1927e7a6",
  "triggerCount": 1,
  "tags": []
}