idk-bro-.json
{
  "createdAt": "2025-07-06T17:53:56.614Z",
  "updatedAt": "2025-07-06T17:54:01.733Z",
  "id": "24uhU7f0keJnR12C",
  "name": "idk bro",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update_stock",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        -120
      ],
      "id": "b9adf296-dd07-413c-b521-9e39f15c7b48",
      "name": "Webhook",
      "webhookId": "a90e3eaa-296f-48ff-9f22-67076d7720f8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ac95553-fa08-4b00-bf6f-6fef52bccde7",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -120
      ],
      "id": "3c4b92d4-a4e9-44f4-8b1a-c61dae336d70",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const salesData = $input.first().json.body;\n\n// 1. Validate the incoming data\nif (!Array.isArray(salesData) || salesData.length === 0) {\n  // If there's no valid data, stop the workflow by returning an empty array.\n  return [];\n}\n\n// 2. Transform the sales data into a SQL VALUES list.\n// This creates a string like: \"(123, 5), (456, 2), (789, 10)\"\n// We also ensure the data types are correct (integers).\nconst valuesList = salesData\n  .map(sale => {\n    const productIndex = parseInt(sale.index, 10);\n    const quantitySold = parseInt(sale.quantity_sold, 10);\n\n    // Basic validation for each item\n    if (isNaN(productIndex) || isNaN(quantitySold)) {\n      return null;\n    }\n    return `(${productIndex}, ${quantitySold})`;\n  })\n  .filter(Boolean) // Remove any null entries from invalid sales items\n  .join(', ');\n\n// If after filtering there are no valid values, stop.\nif (!valuesList) {\n  return [];\n}\n\n\n// 3. Construct the final, powerful UPDATE query.\n// This query updates the 'amazon_dataset' table by subtracting the\n// 'quantity_sold' from the current 'stock' for all matching products in one go.\nconst updateQuery = `\nUPDATE public.amazon_dataset AS ad\nSET\n    stock = ad.stock - v.quantity_sold\nFROM (\n    VALUES ${valuesList}\n) AS v(product_index, quantity_sold)\nWHERE ad.index = v.product_index;\n`;\n\n// 4. Output the generated query for the next node to use.\nreturn [{ json: { query: updateQuery } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -120
      ],
      "id": "e8b37396-115f-47db-b644-db083041b763",
      "name": "Prepare Bulk Update Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -120
      ],
      "id": "01853387-1a6f-4c5d-bee8-98d0c8549e3a",
      "name": "Execute Bulk Update",
      "credentials": {
        "postgres": {
          "id": "CQIWRYG3RRCGzByQ",
          "name": "supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"Process completed successfully\",\n  \"message\": \"Stok telah berhasil diperbarui.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        700,
        -120
      ],
      "id": "fdc8058c-da25-457b-8172-f5c978403039",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prepare Bulk Update Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Bulk Update Query": {
      "main": [
        [
          {
            "node": "Execute Bulk Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Bulk Update": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e55763b3-1d0e-41c6-b229-613457a4308d",
  "triggerCount": 0,
  "tags": []
}