telegram-bot-chatbot-.json
{
  "createdAt": "2025-04-14T15:34:46.120Z",
  "updatedAt": "2025-06-22T10:46:48.699Z",
  "id": "sjmgzU6mN4JBJB8z",
  "name": "Telegram bot chatbot",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f8488e85-8ce2-4d0a-af26-bcec6c0dcae7",
      "name": "Telegram Trigger",
      "webhookId": "2a924d02-e938-4d18-b0e5-09592f1138b5",
      "credentials": {
        "telegramApi": {
          "id": "sXDiFvbVbjCf9wMC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name :  {{ $json.message.from.first_name }} {{ $json.message.from.last_name }}\nMessage : {{ $json.message.text }}\nChat_id : {{ $json.message.chat.id }}",
        "options": {
          "systemMessage": "=You are a helpful assistant, answer consicely and accurately, today is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "b4e683f1-7cb0-46fd-a207-9c716eb5ca4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        180,
        220
      ],
      "id": "842bc30e-4499-42b5-ae72-1fd1feb8da4c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ph2XhABiK1VUeOmK",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "id": "d85de2a2-2bc1-4341-8e76-3c4332c473f2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PZXYft7euaufuQXJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "411ab031-0f35-42db-a5dd-4363746df8fa",
      "name": "Telegram",
      "webhookId": "4cf4d5ad-405c-4da4-8186-27ab0eacbbc5",
      "credentials": {
        "telegramApi": {
          "id": "sXDiFvbVbjCf9wMC",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "15c5f1d6-8ba8-4e72-a077-782d1c395cfb",
  "triggerCount": 1,
  "tags": []
}